.active.player-icon-pause,
.active.ytp-play-button .ytp-svg-fill{
	fill:yellow
}
.active#playpause{
	filter:invert(1)
}
#Brt-canvas{
	display:none;
}
#Brt-opt{
	position:absolute;
    left:-33px;
    top:9px;
    height:20px;
    width:20px
}
#Brt-canvas,
#Brt-YT{
	will-change:contents
}