.name{
	font-size:25px;
	margin-left:5px;
	cursor:default;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none
}
.box{
	display:flex;
	margin-bottom:10px
}
.black{
	background:black
}
.black .name{
	color:white;
}
#close{
	position:absolute;
	bottom:5px;
	right:5px;
	font-size:15px;
	border:solid red 1px;
	border-radius:5px;
	background:grey;
}