.name{
	font-size:25px;
	margin-left:5px;
	cursor:default;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none
}
.box{
	display:flex;
	margin-bottom:10px
}
.black{
	background:black
}
.black .name{
	color:white;
}